# VS Code specific
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# OS-specific
.DS_Store

# Python-specific
__pycache__

# Other
test_db.py
test.db
public_transport_ticketing_system.db
